#detail_Info{
	margin-top: 80px;
}
#map{
	height: 300px;
	min-width: 100%;
	margin: auto;
}

#facility_info_box{
	border: 1px solid blue;
}

#calendar_val{
	margin-top: 20px;
}
#calendar{
	width: 100%;
}


#price{
	color: red;
	font-size: 20px;
}

#calendar_message{
	color: red;
	background-color: yellow;
}

.ui-datepicker-calendar{
	width: 100%;
}

.ui-state-default{
	height: 3em;
}

.ui-datepicker{
	width: 100%;
	height: 25em;
}

.ui-datepicker-today{
	/*background:　#1484e6 url(images/ui-bg_diagonals-thick_22_1484e6_40x40.png) 50% 50% repeat !important;*/
	background-color: #FF6F05;
}

.infraLabel{
	margin-left: 5px;
	border: 1px solid blue;
	display: none;
	background-color: #057E86;
	color: white;
}

.infra_Zone{
	margin-top: 10px;
}
#map{
	margin-top: 5px;
}
