body{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*http://frame-illust.com/?p=358*/
	background-image: url(/teamG/image/serch_back.png);
	z-index: 0;
}
.back_color{
	position: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
	/*background-color: rgba(165,89,65,0.4);*/
	margin-top: -70px;

}

.main{
	margin-top: 70px;
}

#detail_Info{
	/*margin-top: 80px;*/
	z-index: 2;
}
#map{
	height: 300px;
	min-width: 100%;
	margin: auto;
	z-index: 2;
	border-right: 7px solid rgba(0,0,0,0.3);

}

#facility_info_box{
	border: 1px solid #656565;
	/*border-right: 7px solid rgba(0,0,0,0.3);*/
	background-color: #fff;
	z-index: 2;
}

#calendar_val{
	margin-top: 20px;
}
#calendar{
	width: 100%;
	z-index: 2;
	border-right: 7px solid rgba(0,0,0,0.3);
	
}


#price{
	color: red;
	font-size: 20px;
}

#calendar_message{
	color: red;
	background-color: yellow;
}

.ui-datepicker-calendar{
	width: 100%;
}

.ui-state-default{
	height: 3em;
}

.ui-datepicker{
	width: 100%;
	height: 25em;
}

td.ui-datepicker-today a{
	background-image: url(images/ui-bg_diagonals-thick_22_1484e6_40x40.png) 50% 50% repeat !important;
	/*background-color: #FF6F05;*/
}

.infraLabel{
	margin-left: 5px;
	border: 1px solid blue;
	display: none;
	background-color: #057E86;
	color: white;
}

.infra_Zone{
	margin-top: 10px;
}
#map{
	margin-top: 5px;
}
