body{
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /*http://frame-illust.com/?p=358*/
  background-image: url(/php/image/order_back2.png);
  z-index: 0;
}

.main{
  margin-top: 80px;
  height: 80vh;
}

.box{
  border:1px solid blue;
}

.samune{
  width: 64px;
}

.facilityBox{
  display: inline-flex;
}

.orderBox{
  background-color: #fff;
}

.media{
  border: 1px solid #808080;
}

.fac_edit_button{
  border: 1px solid blue;
  background-color: blue;
  color: white;
  margin-right: 3px;
}

.cancel_button{
  border: 1px solid red;
  background-color: red;
  color: white;
}

.up_button{
  border: 1px solid #21FF06;
  background-color: #21FF06;
  color: white;
}

/* ホバーエフェクト */

.cancel_button{
  cursor: pointer;
}

.up_button{
  cursor: pointer;
}

/*my_order_list,my_facility_list用の追加CSS*/

.back_mymenu{
  border: 1px solid #B6B4B4;
}

.center_list{
  /*padding-top: 30px;*/
}

#facilityList_other{
  display: none;
}

.user_edit_list{
  /*margin-top: 20px;*/
}

/*.delete_facility{
  height: 64px;
  margin-top: 15px;
  background-color: red;
}

.edit_facility{
  height: 64px;
  margin-top: 15px;
}*/