.main{
  margin-top: 80px;
}

.box{
  border:1px solid blue;
}

.samune{
  width: 64px;
}

.facilityBox{
  display: inline-flex;
}

.media{
  border: 1px solid #808080;
}

.fac_edit_button{
  border: 1px solid blue;
  background-color: blue;
  color: white;
  margin-right: 3px;
}

.fac_cancel_button{
  border: 1px solid red;
  background-color: red;
  color: white;
}

/*my_order_list,my_facility_list用の追加CSS*/

.back_mymenu{
  border: 1px solid #B6B4B4;
}

.center_list{
  /*padding-top: 30px;*/
}

#facilityList_other{
  display: none;
}

.user_edit_list{
  /*margin-top: 20px;*/
}

/*.delete_facility{
  height: 64px;
  margin-top: 15px;
  background-color: red;
}

.edit_facility{
  height: 64px;
  margin-top: 15px;
}*/