#orderbox{
	margin-top: 80px;
	border: 1px solid blue;
}

.ordermessage{
	margin-top: 20px;
}

.button_group{
	margin-top: 20px;
}
.ok{
	margin-left: 70px;
	background-color: #496D79;
}

.cancel{
	background-color:#D4D3D3;
}

.glyphicon{
	margin-right: 5px;
}