body{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	/*background-attachment: fixed;*/
	background-size: cover;
	/*http://frame-illust.com/?p=358*/
	background-image: url(/php/image/order_back2.png);
	z-index: 0;
}

#orderbox{
	margin-top: 80px;
	border: 1px solid blue;
}

.ordermessage{
	margin-top: 20px;
}

.button_group{
	margin-top: 20px;
}
.ok{
	margin-left: 70px;
	background-color: #496D79;
}

.cancel{
	background-color:#D4D3D3;
}

.glyphicon{
	margin-right: 5px;
}