body{
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	/*http://frame-illust.com/?p=358*/
	background-image: url(/php/image/serch_back.png);
	z-index: 0;
}
.back_color{
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	/*background-color: rgba(0,0,0,0.1);*/
	margin-top: -70px;

}
.main{
	margin-top: 80px;
}
/*.sercharea{
 display: flex;
}*/

.serchbox{
	border: 1px solid blue;
	padding-top: 10px;
	z-index: 2;
	background-color: #fff;
}
.serchLabel{
	padding-left: 30px;
}
.resultbox{
	/*height: 250px;*/
/*	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;*/
	padding-top: 10px;
	margin-top: 5px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	/*background-attachment: fixed;*/
	background-size: cover;
	/*http://frame-illust.com/?p=358*/
	background-image: url(/php/image/note.jpg);
	border: 2px solid rgba(0,0,0,0.3);
	z-index: 2;
}
.facilityImage{
	height: 300px;
	border: 2px solid #746767;
}
.fac_name{
	font-size: 20px;
}

.price{
	position: absolute;
	padding-right: 10px;
	font-size: 20px;
	color: white;
	top: 0px;
	background-color: rgba(0,0,0,0.8);
}

.pin_image{
	position: absolute;
	top: 0px;
	right: 0px;
}